@page
@model MyApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h2>IAsyncEnumerable@("<T>") Demo</h2>
<hr />

<form asp-controller="Data" asp-action="upload"
      enctype="multipart/form-data" method="post">

    <input type="file" class="form-control-file" name="file" />
    <br />
    <button class="btn btn-primary">Submit</button>

</form>

